* {
    box-sizing: border-box;
}



/* GENERAL */

p {
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}



/* MOVIE INFO */

.movie__info--container {
    width: 100%;
    height: if(
        media(width > 768px): 100vh;
        media(width <= 768px): 100%;
    );
    display: flex;
    flex-direction: column;
    padding: if(
        media(width > 768px): 20px 40px;
        media(width <= 768px): 20px 16px;
    );
    background-color: #060602;
}

.movie__info--row {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 70px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie__back--button {
    position: absolute;
    top: 65px;
    left: if(
        media(width > 768px): 50px;
        media(width <= 768px): 0;
    );
    width: if(
        media(width > 576px): 100px;
        media(width <=576px): 75px;
    );
    padding: 8px 16px;
    background: transparent;
    border-radius: 8px;
    font-size: if(
        media(width > 576px): 16px;
        media(width <= 576px): 12px;
    );
    transition: all .2s ease;
}

.movie__info--bkgd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
    filter: blur(80px) saturate(125%) brightness(90%);
}

.movie__info {
    width: 100%;
    height: 95%;
    max-width: 1500px;
    display: flex;
    flex-direction: if(
        media(width <= 768px): column;
    );
    align-items: center;
    justify-content: center;
}

.movie__poster {
    width: 50%;
    height: if(
        media(width > 768px): 100%;
        media(width <= 768px): 50%;
    );
    min-width: 200px;
    min-height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie__poster--img {
    width: 70%;
    height: 50vw;
    min-width: 200px;
    min-height: 300px;
    max-height: 93%;
    border-radius: 4px;
}

.movie__details {
    width: if(
        media(width > 768px): 50%;
        media(width <= 768px): 100%;
    );
    height: if(
        media(width >= 768px): 100%;
        media(width >= 576px): 55%;
        media(width < 576px): 65%;
    );
    display: flex;
    flex-direction: column;
    justify-content: if(
        media(width > 768px): center;
        media(width <= 768px): space-around;
    );
    align-items: center;
    gap: if(
        media(width > 768px): 8px;
        media(width <= 768px): 4px;
    );
    padding: if(
        media(width > 768px): 24px 40px;
        media(width <= 768px): 16px 20px;
    );
    background-color: #0c0b0c;
    border-radius: 12px;
}

.movie__info--dividor {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: if(
        media(width > 768px): 8px;
        media(width <= 768px): 0px;
    );
}

.movie__title {
    display: flex;
    justify-content: center;
    font-size: if(
        media(width >= 1200px): 56px;
        media(width >= 992px): 48px;
        media(width >= 576px): 36px;
        media(width < 576px): 24px;
        
    );
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}


.movie__genre,
.movie__plot,
.movie__rated,
.movie__year,
.movie__director,
.movie__actors,
.movie__runtime {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: if(
        media(width >= 992px): 20px;
        media(width >= 768px): 16px;
        media(width >= 576px): 16px;
        media(width >= 320px): 12px;
        media(width < 320px): 8px;
    );
    margin-bottom: if(
        media(width >= 1200px): 20px;
        media(width >= 768px): 8px;
        media(width >= 576px): 4px;
       
    );
}

.movie__year {
    font-weight: 500;
    color: white;
}

.loading__bar {
    width: 75px;
    height: 20px;
    background-color: #3d3d3d;
    border-radius: 2px;
}

.loading__bar--title {
    width: 400px;
    height: 75px;
    background-color: #3d3d3d;
    border-radius: 8px;
}

.loading__bar--plot {
    width: 400px;
    height: 40px;
    background-color: #3d3d3d;
    border-radius: 2px;
}
